<footer>
  <div class="container">
    <div class="row p-5">

      <div class="col-sm">
        <h5>Links</h5>

        <ul class="p-0">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-sm">
        <h5>Our Address</h5>

        <address>
          214, King Street West<br>
          Downtown, Toronto<br>
          ONTARIO<br>
          <i class="fas fa-phone-volume"></i>Tel.: +416 1234 5678<br>
          Fax: +416 8765 4321<br>
          Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
        </address>
      </div>

      <div class="col-sm">
        <div class="pt-5">
          <app-social [icons]="true"></app-social>
        </div>
      </div>
    </div>

    <div>
      <p class="py-3 m-0 text-center">© Copyright 2015 Ristorante Il Fornello</p>
    </div>
  </div>
</footer>